/* Images 
****************/
body {
  background: url('../public/pizza.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

/* Typography 
***************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-weight: 800;
}

h1 {
	font-size: 72px;
	color: lightyellow;
}

#subtitle {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}


/* Forms 
****************/
.form-inline {
	margin-bottom: 10px;
	padding: 5px;
}

.btn {
	margin-left: 5px;
}

label {
	margin-left: 10px;
	margin-right: 10px;
}

#cart {
	max-width: 50%;
}

